.progress-bar {

  position: absolute;
  top: 10rem;


  img {
    width: 68.25rem;
    height: 4.5625rem;

    
  }

  @media (max-width: 878px) {
   img {
    width: calc(68.25rem / 3.2) ;
    height: calc(4.5625rem / 3.2) ;
    
   } 

   top: 29rem;

  }

}
