.containerFifthSectionResponsive {
  display: none;
}

.containerFifthSectionNormal {
margin-top: 2rem;
display: flex;
flex-direction: column;
margin-left: 14rem;
gap: 2rem;

h1 {
  margin-bottom: 6rem;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .radioDiv {
    display: flex;
    gap: 2rem;
  }


    
    textarea {
    border: 1px solid #D9D9D9;
    padding: 2.5rem 0.8rem;
    border-radius: 4px;
    
 
  }

  .labelComentario {
    margin-top: 3rem;
  }
  

  
}

.navLink {
  background-color: #c51700;
  color: #fff;
  padding: 18px 1.2rem;
  text-align: center;
 text-decoration: none;
 width: 50%;
 margin: 5rem auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
 

  &:hover {
    background-color: darken(#c51700, 10%);
  }



  
}


}


@media (max-width: 878px) {
  .containerFifthSectionNormal {
    display: none;
  }

  .containerFifthSectionResponsive {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    gap: 1rem;

    .selectForm {
      padding: 1rem;
      border-radius: 4px;
      border: 1px #D9D9D9 solid;
      width: 92%;
      color: #8c8c8c;
     
    }

    .comentarioResponsivoLabel {
      margin-top: 2rem;
    }

    .comentarioResponsivoInput {
      padding: 1rem;
      border-radius: 4px;
      border: 1px #D9D9D9 solid;
      width: 92%;
      color: #8c8c8c;
      
    }

    h1 {
      height: fit-content;
      font-weight: 400;
      font-size: 1.5rem;
      padding-left: 8px;
      margin-left: 10px;
    }

    .navLink {
      background-color: #c51700;
      color: #fff;
      padding: 18px;
     text-decoration: none;
     text-align: center;
     width: 92%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin-top: 4rem;
      
     

      &:hover {
        background-color: darken(#c51700, 10%);
      }
    }
  }
  
}