button {
    margin: 4rem;
    border: #333;
    cursor: pointer;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: right;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: 2rem;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }
  
  .nav-divider {
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 10px;
  }
  
  .sidebar {
    width: 250px;
    height: 100rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: #ce332d;
  }
  
  .logo {
    margin: 5rem;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    margin: 3rem;
    padding: 50px;
  }
  
  .sidebar-item a {
    text-decoration: none;
    color: #ce332d;
  }

  .utilizando {
    color: #ce332d;
    border: #ce332d;
  }
  
        