.containerThirdSection {
  margin-left: 15rem;
  padding: 20px;
  h5 {
    font-size: 1.45rem;
  }

  .thirdSectionContent {
    width: 60%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    button {
      background-color: #c51700;
      color: #fff;
      padding: 13px 100px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin: 0 auto;

      &:hover {
        background-color: darken(#c51700, 10%);
      }
    }

    @media (max-width: 878px) {
      width: 90%;
    }
  }
}
