.sectionContainer {
  display: flex;
  flex-direction: column;
  
  padding-top: 2rem;

  @media (max-width: 800px) {
    width: 100%;
  }

  iframe {
    width: 60vw;
    height: 557px;
    margin: 20px auto;

    @media (max-width: 600px) {
      width: 327px;
      height: 184px;
    }
  }

  h1 {
    font-family: Lexend Exa;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 2rem;
    text-align: start;
    padding: 0 0 0 24px;

    @media (max-width: 600px) {
      max-width: 300px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  p {
    padding-left: 2rem;
    font-weight: 600;
    font-size: 1.9rem;
    font-family: "Open Sans";
    font-style: normal;

    @media (max-width: 600px) {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}