.container {
  width: 45rem;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 400;
  border-left: solid 3px #c51700;
  padding-left: 50px;
}

form .form-group {
  margin-bottom: 20px;
}
form .form-group label {
  display: block;
  margin-bottom: 5px;
}
form .form-group input[type="text"],
form .form-group input[type="email"],
form .form-group input[type="number"],
form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form .form-group input[type="text"]:focus,
form .form-group input[type="email"]:focus,
form .form-group input[type="number"]:focus,
form .form-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}
form .form-group textarea {
  resize: vertical;
}
form .form-group .form-group-inline {
  display: flex;
  justify-content: space-between;
}
form .form-group .form-group-inline .form-group-label {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  align-items: center;
}
form .form-group .form-group-inline .form-group-label label {
  color: grey;
}
form .form-group .form-group-inline .form-group-long {
  width: 30rem;
}
form .form-group .form-group-inline .form-group {
  flex: 1;
  margin-right: 10px;
}
form .form-frame {
  height: 2px;
  background-color: #007bff;
  margin: 20px auto;
  width: 33%;
}
form .submit-button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
form .submit-button:hover {
  background-color: #921100;
}
form .cancel-button {
  background-color: #ffffff;
  color: #000000;
  padding: 13px 70px;
  border: solid 1px #c51700;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
form .cancel-button:hover {
  background-color: #e6e6e6;
}
form .form-group-button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}

.containerThirdSection,
.containerFourthSection {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.containerThirdSection .thirdSectionContent,
.containerFourthSection .thirdSectionContent {
  width: 60%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.containerThirdSection .thirdSectionContent button,
.containerFourthSection .thirdSectionContent button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 70px;
  border: none;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerThirdSection .thirdSectionContent button:hover,
.containerFourthSection .thirdSectionContent button:hover {
  background-color: #921100;
}

.containerFourthSection .fourthSectionFlex {
  width: 100%;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  gap: 30px;
}
.containerFourthSection .fourthSectionCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.containerFourthSection .fourthSectionCard .imageWrapper {
  position: relative;
  width: 20rem;
  height: 300px;
  border-radius: 8px;
  background-color: rgb(190, 190, 190);
}
.containerFourthSection .fourthSectionCard .imageWrapper .cardImageLoader {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #007bff;
  bottom: 0;
}
.containerFourthSection .fourthSectionCard button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerFourthSection .fourthSectionCard button:hover {
  background-color: #921100;
}

.containerFifthSection {
  margin-left: 5rem;
  margin-top: 15rem;
}
.containerFifthSection .fifthSectionFlex {
  display: flex;
  gap: 12rem;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent div {
  border-left: solid 3px #c51700;
  padding: 0 20px;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent h1 {
  padding: 0;
  font-weight: bold;
  border: none;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent p {
  font-size: 1.5rem;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent button:hover {
  background-color: #921100;
}
.containerFifthSection .containerFifthSection {
  margin-left: 12rem;
  margin-top: 15rem;
}
.containerFifthSection .containerFifthSection .fifthSectionFlex {
  display: flex;
  gap: 12rem;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexContent {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexContent
  div {
  border-left: solid 3px #c51700;
  padding: 0 20px;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexContent
  h1 {
  padding: 0;
  font-weight: bold;
  border: none;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexContent
  p {
  font-size: 1.5rem;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexContent
  button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexContent
  button:hover {
  background-color: #921100;
}
.containerFifthSection
  .containerFifthSection
  .fifthSectionFlex
  .fifthSectionFlexImgWrapper {
  width: 23rem;
  height: 23rem;
  border-radius: 9999px;
  background-color: rgb(201, 201, 201);
  margin-bottom: 2rem;
} /*# sourceMappingURL=styles.module.css.map */
