/* styles.module.scss */
.containerThirdSection {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.containerThirdSection h5 {
  font-size: 1.45rem;
}

.containerThirdSection .thirdSectionContent {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 878px) {
  .containerThirdSection .thirdSectionContent {
    width: 90%;
  }
}

.topBar {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center items */
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 3px solid #da2020;
}

@media (max-width: 878px) {
  .topBar {
    justify-content: space-between;
  }
}

.topBar .mobileArrow {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0 10px;
}

@media (min-width: 879px) {
  .topBar .mobileArrow {
    display: none; /* Hide arrows on desktop screens */
  }
}

.tab {
  padding: 1rem 8rem;
  cursor: pointer;
  color: #a0a0a0;
}

@media (max-width: 878px) {
  .tab {
    padding: 0;
  }
}

.tab:hover {
  color: #9b1717;
}

.centeredTab {
  display: flex;
  gap: 7rem;
  align-items: center; /* Vertically center the selected tab */
  font-weight: 600;
  font-size: 1.3rem;
}

.activeTab {
  color: #9b1717;
  background-color: #fdd8d8;
  border-radius: 8px;
}

@media (max-width: 878px) {
  .activeTab {
    background-color: #f4f4f4;
  }
}

@media (max-width: 878px) {
  .centeredTab .tab {
    display: block; /* Show only selected tab on mobile */
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .centeredTab .activeTab {
    visibility: visible;
  }
}

.insideFlex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxFlex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: rgb(204, 204, 204) 1px solid;
  border-radius: 8px;
  gap: 40px;
  background-color: #fff;
}

.boxFlex .boxFlexFirstFlex {
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 878px) {
  .boxFlex .boxFlexFirstFlex {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}

.boxFlex .boxFlexIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid rgb(25, 163, 175);
  color: rgb(25, 163, 175);
  font-size: 1.2rem;
}

.boxFlex .boxFlexIcon p {
  margin: 0 !important;
}

@media (max-width: 878px) {
  .boxFlex .boxFlexIcon {
    width: 100%;
    padding: 1rem;
  }
}

.boxFlex .boxFlexButtons {
  display: flex;
  gap: 20px;
  margin-right: 2rem;
}

.boxFlex .boxFlexButtons img {
  width: 2.4rem;
}

.boxFlex .boxFlexButtons img:last-child {
  width: 2rem;
}

@media (max-width: 878px) {
  .boxFlex .boxFlexButtons {
    margin: 0 auto;
    gap: 25px;
  }
}

@media (max-width: 878px) {
  .boxFlex .boxFlexButtons {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    justify-content: flex-end;
    padding-right: 2rem;
  }
}

.boxFlex img {
  width: 50px;
  cursor: pointer;
}

.buttonBaixar {
  background-color: #ffffff;
  color: #c51700;
  padding: 13px 30px;
  border: solid #c51700 1px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}

.buttonBaixar:hover {
  background-color: #e6e6e6;
}

.buttonVincular {
  background-color: #c51700;
  color: #fff;
  padding: 13px 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}

.buttonVincular:hover {
  background-color: #921100;
}

@media (max-width: 878px) {
  .boxFlexIconInsideFlex {
    padding-left: 2rem;
  }
}

.addButtonUpper {
  background-color: #c51700;
  color: #fff;
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addButtonUpper:hover {
  background-color: #921100;
}

@media (max-width: 878px) {
  .addButtonUpper {
    display: none;
  }
}

.addButtonDown {
  background-color: #c51700;
  color: #fff;
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addButtonDown:hover {
  background-color: #921100;
}

@media (min-width: 878px) {
  .addButtonDown {
    display: none;
  }
}

.insideFlexTitleAndBtn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.boxFlexIconInsideFlex {
  padding-top: 0rem !important;
}

.boxFlexIconInsideFlex {
  height: 50px;
}
/*# sourceMappingURL=f:/projects/StartFuture/onboarding-me-on-front/src/pages/NovaPaginaTabs/styles.module.css.map */
