.sectionContainer {
  width: 80dvw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #e7e7e7;
  padding-left: 2rem;
  padding-top: 2rem;

  .congratulationsText {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
    border-bottom: #2d94ce 4px solid;
  }

  .medalBox {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 16px;

    @media (max-width: 876px) {
      width: 95%;
    }

    p {
      font-weight: 300;
      font-size: 2rem;
    }

    img {
      width: 3rem;
    }
  }

  img {
    width: 334px;
    margin: 2rem auto;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    border: none;
    padding-left: 0px;

    @media (max-width: 876px) {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 2rem;
  }

  p {
    width: 70%;
    margin: 2rem auto;
  }

  .navLink {
    position: relative !important;
    background-color: #ce332d;
    color: #fff;
    width: 100%;
    padding: 1.2rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: darken(#ce332d, 10%);
    }
  }
}
