.containerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82%;

  img {
    @media (max-width: 878px) {
      width: 337px;
      height: 337px;
      
    }
  }

  .containerSectionFlex {
    display: flex;

    @media (max-width: 992px) {
      flex-direction: column;
      margin-left: 3rem;
    }

    .leftFlex {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        width: 32rem;
        font-size: 3rem;
        @media (max-width: 992px) {
          font-size: 2rem;
          width: auto;
          margin-left: 1rem;
        }
      }
    }
  }

  .navLink {
    background-color: #c51700;
    color: #fff;
    padding: 18px 0;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken(#c51700, 10%);
    }

    @media (max-width: 878px) {
      position: absolute;
      bottom: 45px;
      left: 11%;
      width: 80%;
    }

    @media (max-width: 376px) {
      position: absolute;
      bottom: 5%;
      left: 10%;
      width: 80%;
    }
  }
}
