.sectionContainer {
  display: flex;
  flex-direction: column;
  
  padding-top: 2rem;

  @media (max-width: 800px) {
    width: 100%;
  }

  iframe {
    width: 60vw;
    height: 557px;
    margin: 20px auto;

    @media (max-width: 600px) {
      width: 327px;
      height: 184px;
    }
  }

  h1 {
    font-family: Lexend Exa;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 2rem;
    text-align: start;
    padding: 0 0 0 24px;

    @media (max-width: 600px) {
      max-width: 300px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  h3 {
    padding-left: 2rem;
    color: #1E1E1E;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    padding: 2rem 5rem;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 600px) {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: justify;
      padding-right: 2rem;
      padding-bottom: 5rem;
    }
  }


  .navLink {
    position: relative !important;
    background-color: #ce332d;
    color: #fff;
    padding: 18px 10rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 5rem auto;
    text-decoration: none;

    &:hover {
      background-color: darken(#ce332d, 10%);
    }
  }
}
