.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.logo-container {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.logo {
  max-width: 80%;
}

.menu-itens {
  color: darkred;
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.menu-itens li a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}

.menu-itens li {
  background: red;
  opacity: 0.1;
  padding: 15px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-lateral {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .logo-container {
    flex: 1;
  }

  .menu-itens {
    flex: 3;
    display: flex;
    justify-content: space-around;
  }

  .menu-itens li {
    padding: 10px;
  }
}
