.containerThirdSection,
.containerFourthSection {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.containerThirdSection h5, .containerThirdSection h1,
.containerFourthSection h5,
.containerFourthSection h1 {
  margin-left: 15rem;
}
.containerThirdSection .thirdSectionContent,
.containerFourthSection .thirdSectionContent {
  width: 60%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.containerThirdSection .thirdSectionContent button,
.containerFourthSection .thirdSectionContent button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 70px;
  border: none;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerThirdSection .thirdSectionContent button:hover,
.containerFourthSection .thirdSectionContent button:hover {
  background-color: #921100;
}

.containerFourthSection .fourthSectionFlex {
  width: 100%;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 878px) {
  .containerFourthSection .fourthSectionFlex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
  }
}
.containerFourthSection .fourthSectionCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.containerFourthSection .fourthSectionCard .imageWrapper {
  position: relative;
  width: 20rem;
  height: 300px;
  border-radius: 8px;
  background-color: rgb(190, 190, 190);
}
.containerFourthSection .fourthSectionCard .imageWrapper .cardImageLoader {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #007bff;
  bottom: 0;
}
.containerFourthSection .fourthSectionCard button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 8.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerFourthSection .fourthSectionCard button:hover {
  background-color: #921100;
}

.containerFifthSection {
  margin: 15rem 180px;
}
.containerFifthSection .fifthSectionFlex {
  display: flex;
  gap: 20rem;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent div {
  border-left: solid 3px #c51700;
  padding: 0 20px;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent h1 {
  padding: 0;
  font-weight: bold;
  border: none;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent p {
  font-size: 1.5rem;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0 auto;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexContent button:hover {
  background-color: #921100;
}
.containerFifthSection .fifthSectionFlex .fifthSectionFlexImgWrapper {
  width: 23rem;
  height: 23rem;
  border-radius: 9999px;
  background-color: rgb(201, 201, 201);
  margin-bottom: 2rem;
}/*# sourceMappingURL=styles.module.css.map */