.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: left;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}
