.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 400;
  border-left: solid 3px #c51700;
  padding-left: 50px;
}

form .form-group {
  margin-bottom: 20px;
}

form .form-group label {
  display: block;
  margin-bottom: 5px;
}

form .form-group input[type="text"],
form .form-group input[type="email"],
form .form-group input[type="number"],
form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form .form-group input[type="text"]:focus,
form .form-group input[type="email"]:focus,
form .form-group input[type="number"]:focus,
form .form-group textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

form .form-group textarea {
  resize: vertical;
}

form .form-group .form-group-inline {
  display: flex;
}

form .form-group .form-group-inline .form-group-label {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 878px) {
  form .form-group .form-group-inline .form-group-label {
    justify-content: flex-end;
  }
}

form .form-group .form-group-inline .form-group-label label {
  color: grey;
}

form .form-group .form-group-inline .form-group-long {
  width: 85%;
  padding-right: 20px;
}

@media (max-width: 878px) {
  form .form-group .form-group-inline .form-group-long {
    width: 100%;
    padding-right: 0px;
  }
}

form .form-group .form-group-inline .form-group {
  flex: 1;
  margin-right: 10px;
}

@media (max-width: 878px) {
  form .form-group .form-group-inline .form-group {
    margin: 15px 0;
  }
}

form .form-frame {
  height: 2px;
  background-color: #007bff;
  margin: 20px auto;
  width: 33%;
}

form .submit-button {
  background-color: #c51700;
  color: #fff;
  padding: 13px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form .submit-button:hover {
  background-color: #921100;
}

form .cancel-button {
  background-color: #ffffff;
  color: #000000;
  padding: 13px 70px;
  border: solid 1px #c51700;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form .cancel-button:hover {
  background-color: #e6e6e6;
}

form .form-group-button {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}

@media (max-width: 878px) {
  form .form-group-button {
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
}

@media (max-width: 878px) {
  .form-group-inline {
    display: flex;
    flex-direction: column;
  }
}
