.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 400;
  border-left: solid 3px #c51700;
  padding-left: 50px;
}

form {
  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px #007bff;
      }
    }

    textarea {
      resize: vertical;
    }

    .form-group-inline {
      display: flex;

      .form-group-label {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: row-reverse;
        align-items: center;
        @media (max-width: 878px) {
          justify-content: flex-end;
          
        }

        label {
          color: grey;
        }
      }

      .form-group-long {
        width: 85%;
        padding-right: 20px;

        @media (max-width: 878px) {
          width: 100%;
          padding-right: 0px;
          
        }

        
      }

      .form-group {
        flex: 1;
        margin-right: 10px;
        @media (max-width: 878px) {
          margin: 15px 0;
          
        }
      }
    }
  }

  .form-frame {
    height: 2px;
    background-color: #007bff;
    margin: 20px auto;
    width: 33%;
  }

  .submit-button {
    background-color: #c51700;
    color: #fff;
    padding: 13px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken(#c51700, 10%);
    }
  }

  .cancel-button {
    background-color: #ffffff;
    color: #000000;
    padding: 13px 70px;
    border: solid 1px #c51700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken(#ffffff, 10%);
    }
  }

  .form-group-button {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 3rem;

    @media (max-width: 878px) {
      flex-direction: column-reverse;
      margin-bottom: 60px;
      
    }
  }
}

 @media (max-width: 878px) {
  .form-group-inline {
    display: flex;
    flex-direction: column;
   
  }

  
 }